{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

    <div class="container mt-5">
        <div class="card mx-auto" style="width: 76rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">All Tickets</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Ticket ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Assigned To</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                            <th scope="col">Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets %}
                            <tr>
                                <td><small>{{ ticket.number }}</small></td>
                                <td><small>{{ ticket.title }}</small></td>
                                <td><small>{{ ticket.date_created }}</small></td>
                                {% if ticket.assigned_to %}
                                    <td><small><a href="{% url 'home' ticket.assigned_to.username %}">{{ ticket.assigned_to }}</a></small></td>
                                {% else %}
                                    <td><small>Not Assigned</small></td>
                                {% endif %}
                                {% if ticket.ticket_status == 'Active' %}
                                    <td><span class="badge bg-success">Active</span></td>
                                {% elif ticket.ticket_status == 'Pending' %}
                                    <td><span class="badge bg-warning">Pending</span></td>
                                {% elif ticket.ticket_status == 'Completed' %}
                                    <td><span class="badge bg-danger">Completed</span></td>
                                {% endif %}
                                <td><small><a href="{% url 'ticket-details' ticket.number %}">View Details</a></small></td>
                                {% if ticket.category %}
                                    <td><small><a href="{% url 'category' ticket.category.pk %}">{{ticket.category}}</a></small></td>
                                {% else %}
                                    <td><small>No Category!</small></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}