{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="row" style="background-color: aliceblue;">
        {% for category in categories %}
            {% if category.parent %}
            {% else %}
            <div class="col-md-3" style="border: solid red;">
                <a href="{% url 'category' category.id %}">
                    {{category.title}}
                </a>
            </div>
            {% endif %}
        {% endfor %}
</div>

{% endblock content %}