{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

    {% if solution.category %}
        <div class="row" style="background-color: aliceblue;">
            <div class="col-md-12">
                <h1 style="color:  red;" >
                    <a href="{% url 'category' solution.category.id %}">
                        {{solution.category}}
                    </a>
                </h1>
            </div>
        </div>
    {% endif %}

    <div class="row" style="background-color: aliceblue;">
        <div class="col-md-12">
            title : 
            <h1 style="color:  red;" >{{solution.title}}</h1>
        </div>
        <div class="col-md-12">
            description : 
            {{solution.description}}
        </div>
        {% if solution.file %}
            <div class="col-md-12">
                Attached File : 
                <a href="{{ solution.file.url }}">
                    Download Here!
                </a>
            </div>
        {% endif %}
        <div class="col-md-12">
            written by : 
            {{solution.owner.username}}
        </div>
    </div>
    {% if request.user == solution.owner %}
        <a href="{% url 'update-solution' solution.pk %}" class="btn btn-primary">Update Solution</a>
        <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete solution</a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this solution ?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'delete-solution' solution.pk %}" type="button" class="btn btn-primary">Delete solution</a>
                </div>
            </div>
            </div>
        </div>
    {% endif %}

    {% if request.user.is_engineer %}
        {% if citations %}
            <div class="row">
                    <div class="card mx-auto" style="width: 76rem;">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Tickets cited to this solution:</h5>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Ticket ID</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Created On</th>
                                        <th scope="col">Created By</th>
                                        <th scope="col">site</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ticket in citations %}
                                        <tr>
                                            <td><small>{{ ticket.number }}</small></td>
                                            <td><small><a href="{% url 'ticket-details' ticket.number %}">{{ ticket.title }}</a></small>
                                            </td>
                                            <td><small>{{ ticket.date_created }}</small></td>
                                            <td>{{ ticket.created_by }}</td>
                                            <td>{{ ticket.created_by.site }}</td>
                                            {% if ticket.ticket_status == 'Active' %}
                                                <td><span class="badge bg-success">Active</span></td>
                                            {% elif ticket.ticket_status == 'Pending' %}
                                                <td><span class="badge bg-warning">Pending</span></td>
                                            {% elif ticket.ticket_status == 'Completed' %}
                                                <td><span class="badge bg-danger">Completed</span></td>
                                            {% endif %}
                                            <td><small><a href="{% url 'accept-ticket' ticket.number %}">Accept</a></small></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        {% endif %}
    {% endif %}


{% endblock content %}